src/main/mule/student-registration-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="student-api-main">
        <http:listener config-ref="student-registration-api-http-listener" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <logger level="INFO" doc:name="main log" doc:id="664ecc8d-17de-427c-8f4a-39a097e9ee95" message="student registration form api initiated"/>
		<apikit:router config-ref="student-registration-api-router" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\students\(id):application\json:student-api-config" doc:id="10101427-fa2a-4bca-980d-7943f1dd8daa">
        <logger level="INFO" doc:name="Start log" doc:id="85a0bbd0-d0f7-4c84-a529-220412724948" message="started flow for update registration form"/>
		<flow-ref doc:name="Update Flow Reference" doc:id="3ec1c709-fc27-40f7-89d5-f8293bde5a4a" name="update-registration-formFlow"/>
		<logger level="INFO" doc:name="End Log" doc:id="85a16302-598d-4dd3-8657-625520975ed6" message="Ended flow for update registration form"/>
    </flow>
    <flow name="delete:\students\(id):student-api-config">
		<logger level="INFO" doc:name="Start log" doc:id="e70f7ade-51dc-485b-b33f-4287708ed611" message="started flow for delete registration form" />
		<flow-ref doc:name="Delete Flow Reference" doc:id="37669fb3-35ba-4e6a-a869-98677688c545" name="delete-registration-formFlow" />
		<logger level="INFO" doc:name="End Log" doc:id="61b2a042-3619-45ac-9e9e-9cc663dcdb27" message="Ended flow for delete registration form" />
    </flow>
    <flow name="get:\students:student-api-config" doc:id="5ec6e466-ff61-4840-8543-3cb071982d56">
		<logger level="INFO" doc:name="Start log" doc:id="f7a260c9-14fd-468b-a202-eb9ebec1aa89" message="started flow for fetch registration form" />
		<flow-ref doc:name="Fetch Flow Reference" doc:id="025403de-0c05-4712-a3d1-a99e9f621996" name="fetch-registration-formFlow" />
		<logger level="INFO" doc:name="End Log" doc:id="5c4f1305-00d7-42c8-9a29-95fd8576f7b6" message="Ended flow for fetch registration form" />
    </flow>
    <flow name="get:\students\(id):student-api-config">
		<logger level="INFO" doc:name="Start log" doc:id="49f74c89-f489-4217-ba0c-c6743b1dfb8d" message="started flow for fetch registration form by id" />
		<flow-ref doc:name="Fetch by ID Flow Reference" doc:id="b5b5b8a0-feaa-476f-8d45-f53d5fe41006" name="fetch-registration-form-by-idFlow" />
		<logger level="INFO" doc:name="End Log" doc:id="e5d9df77-9860-4cc4-9669-17a227357f83" message="Ended flow for fetch registration form by id" />
    </flow>
    <flow name="post:\students:application\json:student-api-config">
		<logger level="INFO" doc:name="Start log" doc:id="2eb2b3c1-1210-4852-8adb-68a435067192" message="started flow for create registration form" />
		<flow-ref doc:name="Create Flow Reference" doc:id="e5b3293d-430a-4f0a-a61d-2434520a506e" name="create-registration-formFlow" />
		<logger level="INFO" doc:name="End Log" doc:id="cae514eb-6c8c-4027-a2a9-cd1b1a921257" message="Ended flow for create registration form" />
    </flow>
</mule>
